@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
  background: rgba(0, 10, 35, 1);

  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-f-header.is-open .q-f-header-background {
  left: 0;
}
.q-f-header-button-wrapper {
  margin-left: auto;
}
.q-f-header-icon {
  display: none;
}

.q-f-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-f-navigation-list.is-open {
  right: 0;
}
.q-f-header-icon-menu {
  display: block;
}

.q-f-header-icon-button.is-open .q-f-header-icon-menu {
  display: none;
}

.q-f-header-icon-button.is-open .q-f-header-icon-close {
  display: block;
}

.q-f-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
}
.q-f-title-img {
  width: 54px;
  height: 54px;
  border-radius: 16px;
}
.q-f-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
}
.q-f-header.is-open .q-f-header-background {
  left: 0;
}
.q-f-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-f-header-icon-menu {
  display: block;
}

.q-f-header-icon-button.is-open .q-f-header-icon-menu {
  display: none;
}

.q-f-header-icon-button.is-open .q-f-header-icon-close {
  display: block;
}

.q-f-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.q-f-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 255, 255, 1);
}

.q-f-navigation-list.is-open {
  right: 0;
}

.q-f-navigation-link {
  font-weight: 500;
  font-size: 20px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.q-f-navigation-link:hover,
.q-f-navigatioт-link:focus {
  font-weight: 800;
  font-size: 24px;
}

.q-f-header.is-open {
  background-color: transparent;
}

.q-f-navigation-img {
  display: none;
}

@media screen and (min-width: 1209px) {
  .q-f-navigation-img {
    display: flex;
    width: 80px;
    height: 80px;
  }
  .q-f-policy-terms-header-icon-menu {
    display: none;
  }

  .q-f-header {
    width: 100%;
    height: 108px;
    padding: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(0, 10, 35, 0.75);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(49.79999923706055px);
  }

  .q-f-header-background {
  }
  .q-f-header-icon-button {
    display: none;
  }
  .q-f-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-f-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 36px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .q-f-navigation-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }

  .q-f-navigation-item-desk {
    display: none;
  }
}
.q-f-home {
  width: 375px;
  height: 810px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 288.png");
  margin: auto;
}
.q-f-home-container {
  width: 375px;
  padding: 178px 47px 0px;
  margin: auto;
}

.q-f-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.q-f-home-title {
  width: 243px;
  height: 166px;
}

.q-f-home-text {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 35px 0 16px;
}

.q-f-home-google-button-image {
  width: 208px;
  height: 54px;
}

.q-f-home-google-button-link:hover .q-f-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1209px) {
  .q-f-home {
    width: 1440px;
    height: 954px;
    background-image: url("/img/home/Frame\ 289.png");
  }
  .q-f-home-container {
    width: 1440px;
    padding: 254px 192px 0px;
  }
  .q-f-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .q-f-home-title {
    width: 445px;
    height: 304px;
  }

  .q-f-home-text {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 36px;
    text-align: left;
    width: 428px;
    padding: 35px 0 24px;
  }
}

.q-f-about-container {
  width: 375px;
  padding: 78px 20px 0px;
  margin: auto;
}
.q-f-about-title {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.q-f-about-text {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;

  padding-top: 36px;
}
.q-f-about-img {
  width: 336px;
}
@media screen and (min-width: 1209px) {
  .q-f-about-container {
    width: 1440px;
    padding: 80px 208px 0;
    position: relative;
  }
  .q-f-about-title {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }
  .q-f-about-text {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 20px;

    width: 655px;
    padding-top: 40px;
    text-align: left;
  }
  .q-f-about-img {
    width: 526px;
    position: absolute;
    top: 23px;
    right: 158px;
  }
}
.q-f-why-container {
  margin: auto;
  width: 375px;
  padding: 80px 20px 0;
}
.q-f-why-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.q-f-why-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.q-f-why-text-bold {
  background: rgba(22, 48, 103, 1);
  width: 30px;
  height: 56px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
}

.q-f-why-text {
  display: flex;
  align-items: center;
  width: 290px;
  height: 56px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  background: rgba(22, 48, 103, 1);
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
}
.q-f-why-img {
  display: none;
}
@media screen and (min-width: 1209px) {
  .q-f-why-container {
    width: 1440px;
    padding: 120px 386px 0;
    position: relative;
  }
  .q-f-why-img {
    display: flex;
    position: absolute;
    top: 36px;
    left: 1px;
  }
  .q-f-why-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .q-f-why-item {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
  }

  .q-f-why-text-bold {
    width: 32px;
    height: 43px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 20px;
  }

  .q-f-why-text {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 43px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
  }
}

.q-f-reviews-container {
  margin: auto;
  padding: 120px 20px 90px;
  width: 375px;
}
.q-f-reviews-list {
  display: none;
}
.q-f-reviews-lists {
  padding-top: 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.q-f-reviews-item {
  color: rgba(0, 0, 0, 1);
  width: 336px;
  height: 204px;
  border-radius: 8px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(97, 93, 136, 1);
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.25);
}

.q-f-reviews-img {
  margin: auto;
}
.q-f-reviews-text-bold {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 16px;
  text-align: center;

  padding: 10px 0 8px;
  text-align: center;
}

.q-f-reviews-text {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 1209px) {
  .q-f-reviews-container {
    margin: auto;
    padding: 120px 106px;
    width: 1440px;
  }
  .q-f-reviews-list {
    display: block;
    padding: 40px 0 36px;
  }
  .q-f-reviews-lists {
    display: none;
  }
  .q-f-reviews-item {
    width: 289px;
    height: 251px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    margin: 10px;
  }

  .q-f-reviews-img {
    margin: auto;
  }
  .q-f-reviews-text-bold {
    font-weight: 800;
    font-size: 20px;
    text-align: center;
  }

  .q-f-reviews-text {
    font-weight: 400;
    font-size: 20px;
  }
}

.q-f-faq-container {
  padding: 80px 20px 0px;
  width: 375px;
  margin: auto;
}
.q-f-faq-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.q-f-faq-item {
  background: rgba(97, 93, 136, 1);
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.25);

  border-radius: 16px;
  padding: 14px;
}

.q-f-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.q-f-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.q-f-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1209px) {
  .q-f-faq-container {
    padding: 120px 356px 0;
    width: 1440px;
    margin: auto;
  }
  .q-f-faq-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .q-f-faq-question {
    font-family: Ubuntu;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .q-f-faq-answer {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.q-f-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0;
}
.q-f-gallery-list {
  width: auto;
  padding-top: 24px;
  margin: auto;
}

.q-f-gallery-item {
  width: 241px;
  height: 429px;
  border-radius: 20px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.q-f-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.slick-dots li {
  list-style: none;
  width: 17px;
  height: 17px;
  border-radius: 100px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/gallery/Ellipse\ 2.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
  border-radius: 100px;
  background: url("/img/gallery/Ellipse\ 2.png") no-repeat center/cover;
}
@media screen and (min-width: 1209px) {
  .q-f-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 120px 0 0;
  }
  .q-f-gallery-item {
    width: 394px;
    height: 701px;
    border-radius: 20px;

    margin: 0 10px;
  }

  .q-f-gallery-list {
    padding: 0;
    margin: 40px 0 0px;
  }
}

.q-f-features-container {
  width: 375px;
  margin: auto;
  padding: 75px 48px 0px;
}

.q-f-features-list {
  margin-top: 24px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  height: 960px;
  background: url("/img/Group\ 7.png") no-repeat center/cover;
}

.q-f-features-item {
  width: 220px;
  height: 220px;
  padding-top: 109px;
  padding-right: 27px;
  padding-bottom: 109px;
  padding-left: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;

  text-align: center;
}

.q-f-features-text {
  margin-left: 60px;
}

@media screen and (min-width: 1209px) {
  .q-f-features-container {
    width: 1440px;
    margin: auto;
    padding: 120px 108px 0;
  }
  .q-f-features-list {
    margin-top: 40px;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 1244px;
    height: 408px;
    background: url("/img/Group\ 3.png") no-repeat center/cover;
  }

  .q-f-features-item {
    width: 288px;
    height: 288px;
    padding-top: 109px;
    padding-right: 27px;
    padding-bottom: 109px;
    padding-left: 27px;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }

  .q-f-features-text {
    margin-left: 0px;
    margin-top: 80px;
  }
}

.q-f-policy-terms-container {
  padding: 124px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.q-f-policy-terms-title {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.q-f-policy-terms-text {
  padding-top: 20px;
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.q-f-policy-terms-texts {
  padding-top: 8px;
}

.q-f-policy-terms-text-one {
  padding-top: 20px;
}

.q-f-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.q-f-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.q-f-email-link {
  color: inherit;
  text-decoration: none;
}

.q-f-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1209px) {
  .q-f-policy-terms-container {
    padding: 188px 108px 60px;
    width: 1440px;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .q-f-policy-terms-title {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }

  .q-f-policy-terms-text {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .q-f-policy-terms-text-one {
    padding-top: 30px;
  }

  .q-f-terms-list {
    padding: 20px 0 20px 25px;
  }
}

.q-f-footer-container {
  width: 375px;
  padding: 24px 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
}

.q-f-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.q-f-footer-text {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.q-f-footer-copyright {
  font-weight: 700;
  font-size: 14px;

  text-align: center;
}

@media screen and (min-width: 1209px) {
  .q-f-footer-container {
    width: 1440px;
    padding: 25px 0 42px;
    align-items: center;
    gap: 24px;
  }

  .q-f-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 19px;
  }

  .q-f-footer-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .q-f-footer-copyright {
    font-weight: 800;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.q-f-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 28px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.15) inset;

  backdrop-filter: blur(100px);

  z-index: 1000;
  display: none;
}

.q-f-cookie-popup-text-two {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(255, 255, 255, 1);
}

.q-f-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.q-f-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px 0px rgba(0, 79, 182, 1);
  width: 319px;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

#accept-cookies {
  background: rgba(255, 255, 255, 1);
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 1);
}

.q-f-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1209px) {
  .q-f-cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .q-f-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .q-f-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 108px;
    display: none;
  }
}
